body {
	font-family: 'Lato', sans-serif;
	background-image: url('/images/northern-lights.jpeg');
	background-color: #BD5C3C;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #F5F5F5
}
#begin {
	background: rgba(0, 0, 0, 0.4);
	margin: 70px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.intro {
	font-size: 25px;	
}
.headertop{
	font-size: 250%;
}
.headercontain {
	padding-bottom: 1px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	width: 70%;
	text-align: center;
	margin: 0 auto;
}
.question-container {
	height: 26rem;
	width: 70%;
	margin: 0 auto;
}
.questions {
	width: 90%;
	height: 20%;
	margin: 0 auto;
}
#q {
	margin-top: 26px;
	padding-top: 20px;
	height: 4.7rem;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}
.anschoice:hover {
	cursor: pointer;
}
.anschoice {
	margin-top: 30px;
	padding: 15px;
	line-height: 50%;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}
.select {
	margin-top: 30px;
	padding: 15px;
	line-height: 50%;
	background-color: #5BB12F;
	/*border: 1px solid #5BB12F;*/
	border-radius: 8px;
}
#flag {
	height: 60px;
	width: 30%;
	margin: 0 auto;
}
#qnum {
	background: rgba(0, 0, 0, 0.4);
	font-size: 20px;
	width: 30%;
	margin: 0 auto;
	border-radius: 4px;
}
#next, #begin-button {
	background: rgba(0, 0, 0, 0.4);
	margin: 30px;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
}