body {
	font-family: 'Lato', sans-serif;
	background-image: url('/images/northern-lights.jpeg');
	background-color: #BD5C3C;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #F5F5F5
}
#begin {
	background: rgba(0, 0, 0, 0.4);
	margin: 70px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.intro {
	font-size: 25px;	
}
.headertop{
	font-size: 300%;
}
.headercontain {
	padding-bottom: 1px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	width: 70%;
	text-align: center;
	margin: 0 auto;
}
.questions {
	width: 70%;
	margin: 0 auto;
	height: 26rem;
}
#q1 {
	padding-top: 20px;	
	height: 70px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}
#answers {
	height: 9rem;	
}
h3 {
	margin-top: 30px;
	padding: 15px;
	line-height: 50%;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}
#flag {
	height: 60px;
	width: 30%;
	margin: 0 auto;
}
#qnum {
	background: rgba(0, 0, 0, 0.4);
	font-size: 20px;
	width: 30%;
	margin: 0 auto;
	border-radius: 4px;
}
#next, #begin-button {
	background: rgba(0, 0, 0, 0.4);
	margin: 10px;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
}