body {
	font-family: 'Lato', sans-serif;
	/*background-image: url('/images/northern-lights.jpeg');*/
	background-color: #84A5DD;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #F5F5F5
}
#begin {
	/*background: rgba(49, 55, 65, 0.8);*/
	border-radius: 5px;
	margin: 70px;
	margin: 0 auto;
}
.intro {
	font-size: 25px;	
}
.headertop{
	font-size: 250%;
}
.headercontain {
	padding-bottom: 1px;
	/*background: rgba(77, 82, 91, 0.1);*/
	border-radius: 8px;
	width: 70%;
	text-align: center;
	margin: 0 auto;
}
.question-container {
	height: 26rem;
	width: 70%;
	margin: 0 auto;
}
.questions {
	width: 100%;
	height: 20%;
	margin: 0 auto;
}
#q {
	width: 0 auto;
	margin-top: 26px;
	padding-top: 20px;
	height: 4.7rem;
	background: rgba(23, 29, 41, 0.4);
	border-radius: 8px;
}
.anschoice:hover {
	cursor: pointer;
}
.anschoice {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	padding: 15px;
	line-height: 50%;
	background: rgba(77, 82, 91, 0.4);
	border-radius: 8px;
}
.select {
	margin-top: 30px;
	padding: 15px;
	line-height: 50%;
	background: rgba(20, 170, 120, .4);
	border-radius: 8px;
}
#flag {
	height: 60px;
	width: 30%;
	margin: -400px auto;
}
#reset {
	background-color: transparent;
	margin: 10px;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
}
#qnum {
	/*background: rgba(0, 0, 0, 0.4);*/
	font-size: 20px;
	width: 30%;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 4px;
}
#next, #begin-button {
	background-color: transparent;
	margin: 10px;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
}
#red {
	background-color: #F4696B;
}
#orange {
	background-color: #F6D860;
}
#yellow {
	background-color: #DBDB60;
}
#green {
	background-color: #63C5AB;
}
#blue {
	background-color: #3CCAD1;
}
#violet {
	background-color: #785EBB;
}
#violet, #blue, #green, #yellow, #orange, #red {
	height: 15px;
	width: 60%;
	text-align: center;
	margin: 0 auto;
}